*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;

}

html{
  font-size: 50%;

}

body{
    background-color: $color-dark-primary;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: hidden;
    color: $color-white;
}

.root{
  background-color: $color-grey-light-1;
}
.App{
  width: 100vw;
  //height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

a{
  &, &:focus, &:active, &:visited{
    text-decoration: none;
    outline: 0;
  }
}


::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:$color-dark-secondary;
    border: thin solid $color-dark-secondary;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:$color-dark-tertiary;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:lighten($color-dark-tertiary, 5);
}
