.root{
  background-color: $color-grey-light-1;
}
.App{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header{
  height: 64px;
  //width: 100%;
  //z-index: 1;
  //position: fixed;
  //top: 0;
}

.main_container{
  //margin-top: 64px;
  //width: 100%;
  //@include clearfix;
  flex:1;
  display: flex;
  @media (max-width: 700px){
    flex-direction: column;
    align-items: stretch;
  }
  overflow-y: hidden;

  .main{
    //padding-top: 30px;
    //padding-bottom: 30px;
    //width: 100%;
    //min-height: 100vw;
    //margin-left: auto;
    //margin-right: auto;
    flex:1;
    overflow-y: scroll;
    overflow-x: hidden;
    //float: left;
  }

  .nav{
  //position: fixed;

    &--left{
      //float: left;
      width: 64px;
      height: 100%;
      @media (max-width: 700px){
        width: 100%;
        height: 64px;
      }
    }
    &--right{
      //right: 0;
      width: 64px;
    }
  }
}
