


.login{

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 1050px){
    overflow-y: scroll;
  }

  &__header{
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
  }
  &__content{
    //background-color: pink;
    width: 100%;
    flex: 1;

    display: flex;

    @media (max-width: 1050px){
      flex-direction: column;

      &-panel{
        min-height: 100vh;

        &--1{
          order: 2;
          flex:1;
          //overflow: visible;
        }
        &--2{
          //min-height: 80vh;
          //flex:0;
        }
      }
    }
    &-panel{
      padding: 10px;

      overflow: hidden;
      display: flex;

      justify-content: center;
      position: relative;


      &--1{
        background-color: $color-secondary-dark;
        background-image: url("images/animation.svg");
        background-repeat: no-repeat;
        background-position: -50px -100px;
        align-items: center;

        flex-direction: column;

        flex:1;
        .logobox{
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 15rem;
          top: 2rem;
          left: 2rem;
          i{
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 4.5rem;
          }
          h3{
            color: $color-white;

          }
        }
      }
      &--2{
        //background-color: $color-primary;
        //flex: 1;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        min-width: 35rem;
        @media (min-width: 1050px){
            flex:1;
        }

      }
      &-card{
        //flex: 1;
        display: flex;

        //align-items: center;
        justify-content: center;
        &--1{
          max-width: 80%;
          padding-top: 3rem;
          flex-direction: column;
          //justify-content: space-around;
          @media (max-width: 1050px){
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 100%;

          }
        }
        flex: 1;
        max-width: 60rem;
        .presentation{
          color: $color-white;
          flex: 1;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          //justify-content: space-around;
          max-width: 70rem;
          &__title{
            font-size: 6rem;
            position: relative;
            margin-bottom: 2rem;
            &::after{
              content: "";
              width: 15%;
              border-bottom: 8px solid;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);

            }
          }

          &__description{
            margin-bottom: 2rem;
            border-left: 5px solid;
            text-align: left;
            padding: 2rem 3rem;
            line-height: 2.4rem;
          }

          &__features{
            //margin-top: 1rem;
            display: flex;
            justify-content: space-around;
            list-style: none;

            & > :not(:last-child){
              margin-right: 1rem;
            }

            @media (max-width: 1050px){
              flex-direction: column;
              width: 100%;

              & > :not(:last-child){
                margin-right: 0;
                margin-bottom: 2rem;
              }
            }


            &-feature-box{
              flex: 1;


              background-color: rgba($color-white, .1);
              font-size: 1.5rem;
              padding: 2rem 1rem;
              border-radius: 3px;
              text-align: center;
              box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
              transition: all 0.2s;


              &__icon{
                  font-size: 4rem;
                  display: inline-block;
                  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
                  -webkit-background-clip: text;
                  color: transparent;
                }

              &:hover{
                box-shadow: 0 2rem 4.5rem rgba($color-black, 0.3);
                transform: translateY(-1.5rem) scale(1.03);
              }

            }
          }
        }
        .login-form{
          //background-color: blue;
          min-width: 35rem;
          max-width: 80rem;
          flex:1;
          color: $color-white;
          display: flex;
          flex-direction: column;
          text-align: center;
          //align-items: center;
          justify-content: center;
          &__title{
            font-size: 4rem;
            font-weight: 400;
            color: $color-white;
            margin-bottom: 2rem;
          }
          &__name{
            display: flex;
            justify-content: space-between;

            & > :First-child{
              margin-right: 1rem;
            }
          }
          .field{
            margin-bottom: 1.5rem;
          }
          &__button{
            //margin-top: 2rem;
            margin-bottom: 1rem;
            height: 6.4rem;
            font-weight: 600;
          }
          &__links{
            font-size: 1.8rem;
            display: flex;
            justify-content: space-between;

            span{
              flex:1;
            }
            a{
              color:white;
              text-decoration: none;
              font-weight: 600;
              &:focus{
                outline:none;
              }
            }
          }

        }
      }
    }
  }
  &__footer{
    //background-color: blue;
    color: $color-grey-dark;
    background-color: $color-secondary-dark;
    width: 100%;
    height: auto;
    text-align: center;


    &-links{
      list-style: none;
      display: flex;
      justify-content: space-between;
      max-width: 35rem;
      margin-left: auto;
      margin-right: auto;
      flex: 1;

      li{

      }
    }
    &-love{
      font-size: 1.7rem;

      &-heart{
        color: red;
      }
    }
  }
}
