
.card-container{
  padding: 10px;
  width: 100%;
  &--intro{
    height: 350px;
    flex: 1;
    max-width: 300px;
    position: sticky;
    top:0;
    @media (max-width:700px){
      display: none;
    }
  }
  &--timeline{
    height: 800px;
    max-width: 650px;
    min-width: 320px;
    flex:2;
  }
  &--photos{
    height: 350px;
    max-width: 300px;
    flex: 1;
    position: sticky;
    top:0;
    @media (max-width:700px){
      display: none;
    }
  }
  .card{
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: $shadow;
    position: relative;

    &--wall{
      height: 500px;
      display: flex;
      padding: 0;
      flex-direction: column;
      .wall{
        &__img{
          flex: 3;
          background-image: linear-gradient(to bottom right,
           #68b7f9, #aff7c9);

        }
        &__profile{
          height: 128px;
          width: 100%;
          position: absolute;
          top: 210px;
          transform: translate(0, 50%);
          display: flex;
          @media (max-width: 700px){
            top: 100px;
          }
          &-container{
            flex:1;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
          }
          &-picture{
            height: 100%;
            width: 128px;
            transform: translate(50%, 0);
            background-image: url("images/gintoki.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-shadow: $shadow;
            border-radius: 50%;
            border: 5px solid $color-white;
          }
          &-buttons{
            width: 200px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-around;
            @media (max-width: 700px){
              display: none;
            }
            &-button{
              box-shadow: $shadow;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              font-size: 24px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: $color-white;

              &--1{
                background-color: #03A9F4;
              }
              &--2{
                background-color: $color-primary-dark;
              }
              &--3{
                background-color: #607D8B;
              }
            }
          }
        }
        &__links{
          flex: 1;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          text-align: center;
          align-items: center;
          @media (max-width: 700px){
            flex: 2;
            flex-direction: column;
            margin-top: 20px;
            align-items: stretch;
            justify-content: center;
          }
          &-link{
            &:first-child{
              color: $color-black;
              font-weight: bold;
            }
            color: #d3d5db;
            flex: 1;
            border-radius: 3px;
            display: block;
            transition: all 0.3s;

            &:hover{
              background-color: $color-grey-light-1;
            }
          }
        }
      }
    }

  }


}
