
.chat{
  //background-color: #eeeeee;


  //mix-blend-mode: screen;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);

  .input{
    border-top: 1px solid $color-dark-tertiary;
    display: flex;
    padding: 10px;
    min-height: 45px;
    //background-color: #fff;
    background-color: $color-dark-secondary;
    align-items: flex-end;
    justify-content: space-between;

    .text{
      //background-color: orange;
      flex: 1;
      height: 50px;
      max-height: 150px;
      position: relative;

      textarea{
        position: absolute;
        font-family: inherit;
        bottom: 0;
        padding:15px 30px;
        font-size: 1.6rem;
        width: 100%;
        //overflow-y: scroll;
        max-height: 150px;
        min-height: 45px;
        line-height: 20px;
        height: 100%;
        resize: none;
        border: none;
        //background-color: $color-grey-light-1;
        background-color: $color-dark-tertiary;
        color: $color-white;
        font-size: 2rem;
        //border-radius: 100px 100px;
        border-radius: 10px;

      }
    }
    .tools{
      width: 120px;
      height: 40px;
      display: flex;
      align-items: center;
      .emojis{
        width: 40px;
        height: 100%;
        border-radius: 50%;
        margin-right: 3px;
        //background-color: red;
        //background-color: $color-grey-light-1;
        outline: none;
        border: none;
        background-color: transparent;

        color: $color-dark-tertiary;
        font-size: 4rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
          cursor: pointer;
          color:$color-grey-dark;
          background-color: $color-dark-tertiary;
        }
      }
    }
    .send{
      width: 40px;
      height: 40px;
      margin-left: 10px;
      border-radius: 5px;
      text-align: center;
      background-color: orange;
      box-shadow: 0 1px 1px 0 rgba($color-black, .3);
      display: flex;
      align-items: center;
      justify-content: center;
      //height: 40px;
      //margin-left: 10px;
    }
  }
  .messages{
      background-color: $color-dark-secondary;
    flex: 1;
    //background-color: #eeeeee;
    background-color: $color-dark-secondary;
    overflow-y: scroll;
    scrollbar-width: thin;

    padding: 10px;
    display: flex;
    flex-direction: column;

    .message{

      margin-bottom: 5px;
      display: flex;
      align-items: center;
      word-wrap:break-word;
      font-size: 2rem;



      &--self{
        flex-direction: row-reverse;
        color: #fff;
        z-index: 0;

        &.message--last{
          .message__profile{
            //visibility: visible;
            //display: inline;
          }
          .message__content{
            //margin-left: 0;
            border-bottom-right-radius: 20px !important;
          }
        }

        & + .message--self{
          .message__profile{
            //visibility: hidden;
            //display: none;
          }
          .message__content{
            border-radius: 25px 5px 5px 25px;
          }
        }

        .message__profile{
          //margin-left:15px;
          //visibility: hidden;
          border: none;
          background-color: $color-grey-dark;
          align-self: flex-end;
          margin: 0;
          height: 2rem;
          width: 2rem;

          img{
            display: none;
          }
        }
        .message__content{
          //background-color: #4FC3F7;
         background-image: linear-gradient(to bottom, rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
         border-bottom-right-radius: 5px;
         margin-right: .5rem;

          //height: 20px;
          // &::before{
          //  border-left: 10px solid #4FC3F7;
          //  border-right: 10px solid transparent;
          //  border-top: 10px solid transparent;
          //  border-bottom: 10px solid transparent;
          //  right:-15px;
          // }
        }
      }
      &--other{
        z-index: 0;

        &.message--last{
          .message__profile{
            //visibility: visible;
            display: inline;
          }
          .message__content{
            margin-left: 0;
            border-bottom-left-radius: 20px;
          }
        }

        .message__profile{
          margin-right:5px;
          display: none;
          //visibility: hidden;

          align-self: flex-end;
        }
        .message__content{
          //background-color: #fff;
          background-color: $color-dark-4;
          color:$color-white;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 5px;
          margin-left: 45px;
          // &::before{
          //  border-left: 10px solid transparent;
          //  border-right: 10px solid #fff;
          //  border-top: 10px solid transparent;
          //  border-bottom: 10px solid transparent;
          //  left:-15px;
          // }

        }

        & + .message--other{
          .message__profile{
            //visibility: hidden;
          }
          .message__content{
            border-top-left-radius: 5px;
          }
        }
      }
      &__profile{
        width: 40px;
        height: 40px;
        background-color: #ccc;
        border: 2px solid orange;
        border-radius: 50%;
      }
      &__content{
        padding: 5px 15px;
        max-width: 80%;
        position: relative;
        border-radius:20px;
        &::before{
          content:"";
          position: absolute;
          top:20px;
          transform: translateY(-50%);
        }
      }

    }
  }
}
