.colorPicker{
  flex:1;
  display: grid;
  height: 100%;

  width: 750px;

  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 15px;

  &__color{
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
}
