.main{
  //background-color: $color-grey-light-1; light mode
  background-color: $color-dark-primary;//dark model
}
.content{
  //padding-left: 64px;
  //padding-right: 64px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 940px;//940px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  flex: 1;

  &__head{
    max-width: 940px;
  }
  &__body{
    display: flex;
    //justify-content: center;
    justify-content: space-around;
    max-width: 940px;
    &-main{
      display: flex;
      flex-direction: column;
      flex:1;
      max-width: calc(940px - 350px);

      @media (max-width: 940px){
        max-width: 100%;
      }

    }
    &-aside{
      top:0;
      display: flex;
      flex-direction: column;

      @media (max-width: 1000px){
        display: none;
      }
    }

  }
}

.post-container{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
}

.post{
  display: flex;
  min-width: 300px;
  &__reply{
    width: 100%;
    //background-color: red;
    display: flex;
    align-items: center;
    &-user{
      width: 5rem;
      height: 5rem;
      background-color: $color-grey-light-2;
      border-radius: 50%;
      margin-right: .5rem;
    }
    &-input{
      flex: 1;
      //background-color: green;
      display: flex;

      input{
        background-color: $color-grey-light-1;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
        //resize: none;
        flex: 1;
        border-radius: 3px;
        border: none;
        outline: none;
        padding:1rem;
      }
      button{
        border: none;
        border-radius: 3px;
        width: 5rem;
        background-color: $color-primary-light;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
      }
    }
  }
  &__aside{
    //flex: 1;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: .3rem;
    padding-right:.3rem;
    padding-bottom: 2rem;
    //background-color: red;
    &-element{

      &--picture{
        margin-bottom: 5px;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-image: url("images/gintoki.jpg");
        /*background-size: cover;
        background-position: center;
        background-repeat: no-repeat;*/

        img{
          height: 100%;
          width: 100%;
          object-position:0 0px;
          object-fit: cover;
        }

      }
      &--bar{
        flex:1;
        border-left: 3px dashed $color-grey-dark;
        align-self: center;
      }
      &--icon{
        height: 26px;
        font-size: 14px;
        color: $color-grey-dark;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    &-header{
      padding-left: 1rem;
      height: 2.6rem;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;

      &-remove{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        //background-color: red;
        display: flex;
        align-items: center;
        font-size: 3rem;
        color: $color-dark-4;

        &:hover{
          color: white;
        }
      }
    }
    &-person{
      display: flex;
      //color: $color-black;
      color: $color-white;
      padding:.5rem 1rem;
      align-items: center;
      & > *:not(:last-child){
        margin-right: .5rem;
      }

      &-name{

      }
      &-link{
        font-size: 2rem;
        color: $color-grey-dark;
        color: #03A9F4;
      }
      &-time{
        color: $color-grey-dark;
        font-size: 2rem;
      }

    }
    &-body{
      line-height: 2.2rem;
      padding:0 1rem;
      display: flex;
      flex-direction: column;

      //align-items: stretch;

      &__text{
        overflow-wrap: break-word;
      }
      &__photo{
        margin-top: 1rem;
        max-width: 100%;
        display: grid;
        //grid-template-columns: 1fr auto;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        //grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
        grid-auto-flow: dense;
        //grid-template-rows: 1fr 1fr;
        border: 2px solid $color-grey-light-1;
        grid-gap: 3px;
        border-radius: 20px;
        overflow: hidden;
        min-height: 35rem;
        img{
          //flex: 1;
          object-fit: cover;
          height: 100%;
          width: 100%;
          //border: 1px solid $color-grey-dark;
          //border-radius: 20px;
        }
        &:hover{
          //background-color: $color-grey-light-1;
        }
      }
    }
    &-footer{
      display: flex;
      padding: .5rem;
      align-items: center;
      justify-content: space-between;
      color: $color-grey-dark;
      border-top: 3px solid $color-dark-4;
      .post__footer-button{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        flex:1;
        transition: all .1s ease-in-out;
        &:hover{
          //background-color: $color-grey-light-1;
          cursor: pointer;
          .post__footer-button-icon{
            &--heart{
              background-color: #F8BBD0;

              & + .post__footer-button-label{
                color: #E91E63;
              }
            }
            &--comment{
              background-color: rgba(#CDDC39, .5);
              & + .post__footer-button-label{
                color: #8BC34A;
              }
            }
            &--share{
              //color: red;
              background-color: rgba(#B3E5FC, .5);
              & + .post__footer-button-label{
                color: #03A9F4;
              }
            }

          }
        }
        &-label{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-icon{
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 50%;
          margin-right: 3px;
          //background-color: orange;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .2s ease-in-out;
          &--heart{
            color: #E91E63;
          }
          &--comment{
            color: #8BC34A;
          }
          &--share{
            color: #03A9F4;
          }
        }
      }

    }
  }

}
