*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62%; }

body {
  background-color: #f4f4f4;
  box-sizing: border-box; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-medium {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 16rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: Black; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #f5b200;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f5b200;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #f5b200;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.nav {
  width: 64px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media (max-width: 700px) {
    .nav--left {
      order: 2;
      flex-direction: row;
      height: 64px;
      justify-content: space-around;
      align-items: center; } }
  @media (max-width: 700px) {
    .nav--right {
      display: none; } }
  .nav__element {
    width: 64px;
    padding: 5px; }
    .nav__element-icon {
      color: #cbcdde;
      font-size: 24px; }
      .nav__element-icon:hover {
        color: #ffb900; }

.header {
  height: 64px;
  background-color: #404158;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  display: flex;
  color: #fff; }
  .header > * {
    margin-right: 10px; }
  .header > * > * {
    border-radius: 3px; }
    .header > * > *:hover {
      background-color: #494d62; }
  .header__logo {
    width: 64px;
    height: 100%;
    background-color: #fc5f39;
    position: relative; }
    .header__logo i {
      color: #fff;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header__logo:hover {
      background-color: #ffb900; }
  .header__title {
    flex: 1;
    padding-top: auto;
    display: flex;
    align-items: center; }
    .header__title h3 {
      flex: 1; }
  .header__search {
    flex: 3;
    display: flex; }
    @media (max-width: 700px) {
      .header__search {
        display: none; } }
    .header__search-input {
      flex: 2;
      color: #fff;
      margin-right: 15px;
      padding: 10px;
      display: flex;
      position: relative; }
      .header__search-input input {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        background-color: #494d62;
        line-height: 32px;
        border-radius: 1px;
        border: none;
        padding: 5px;
        width: 100%; }
      .header__search-input .search-icon {
        align-self: center;
        margin-left: -25px; }
    .header__search-title {
      flex: 1;
      align-self: center; }
  .header__icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px; }
    @media (max-width: 700px) {
      .header__icons {
        display: none; } }
    .header__icons-block:not(:last-child) {
      margin-right: 2rem; }
  .header__profile {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center; }
    @media (max-width: 700px) {
      .header__profile {
        justify-content: flex-end; } }
    .header__profile-icon {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
      background-image: url("images/gintoki.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .header__profile-label {
      flex: 1;
      display: flex;
      align-items: center; }
      @media (max-width: 700px) {
        .header__profile-label {
          display: none; } }
      .header__profile-label > * {
        margin: 5px; }

.main {
  background-color: #f4f4f4; }

.content {
  display: flex;
  flex-direction: column; }
  .content__body {
    display: flex;
    justify-content: center; }

.post-container {
  margin-bottom: 10px;
  display: flex; }

.post {
  display: flex;
  min-width: 300px; }
  .post__aside {
    flex: 1;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 20px; }
    .post__aside-element--picture {
      height: 44px;
      width: 100%;
      border-radius: 50%;
      background-image: url("images/gintoki.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    .post__aside-element--bar {
      flex: 1;
      border-left: 3px solid #f4f4f4;
      align-self: center; }
    .post__aside-element--icon {
      height: 26px;
      font-size: 14px;
      color: #777; }
  .post__content {
    display: flex;
    flex-direction: column; }
    .post__content-header {
      padding-left: 10px;
      height: 26px;
      font-size: 14px; }
    .post__content-person {
      display: flex;
      color: #000;
      padding-left: 10px;
      align-items: center; }
      .post__content-person > *:not(:last-child) {
        margin-right: 5px; }
      .post__content-person-link {
        font-size: 14px;
        color: #777; }
      .post__content-person-time {
        color: #777;
        font-size: 14px; }
    .post__content-body {
      line-height: 22px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .post__content-body__photo {
        margin-top: 10px;
        max-width: 650px; }
        .post__content-body__photo img {
          width: 100%;
          border: 1px solid #777;
          border-radius: 20px; }
        .post__content-body__photo:hover {
          background-color: #f4f4f4; }
    .post__content-footer {
      display: flex;
      padding: 10px;
      justify-content: space-between;
      color: #777; }

.card-container {
  padding: 10px;
  width: 100%; }
  .card-container--intro {
    height: 350px;
    flex: 1;
    max-width: 300px;
    position: sticky;
    top: 0; }
    @media (max-width: 700px) {
      .card-container--intro {
        display: none; } }
  .card-container--timeline {
    height: 800px;
    max-width: 650px;
    min-width: 320px;
    flex: 2; }
  .card-container--photos {
    height: 350px;
    max-width: 300px;
    flex: 1;
    position: sticky;
    top: 0; }
    @media (max-width: 700px) {
      .card-container--photos {
        display: none; } }
  .card-container .card {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    position: relative; }
    .card-container .card--wall {
      height: 500px;
      display: flex;
      padding: 0;
      flex-direction: column; }
      .card-container .card--wall .wall__img {
        flex: 3;
        background-image: linear-gradient(to bottom right, #68b7f9, #aff7c9); }
      .card-container .card--wall .wall__profile {
        height: 128px;
        width: 100%;
        position: absolute;
        top: 210px;
        transform: translate(0, 50%);
        display: flex; }
        @media (max-width: 700px) {
          .card-container .card--wall .wall__profile {
            top: 100px; } }
        .card-container .card--wall .wall__profile-container {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end; }
        .card-container .card--wall .wall__profile-picture {
          height: 100%;
          width: 128px;
          transform: translate(50%, 0);
          background-image: url("images/gintoki.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          border: 5px solid #fff; }
        .card-container .card--wall .wall__profile-buttons {
          width: 200px;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: space-around; }
          @media (max-width: 700px) {
            .card-container .card--wall .wall__profile-buttons {
              display: none; } }
          .card-container .card--wall .wall__profile-buttons-button {
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff; }
            .card-container .card--wall .wall__profile-buttons-button--1 {
              background-color: #03A9F4; }
            .card-container .card--wall .wall__profile-buttons-button--2 {
              background-color: #ff7730; }
            .card-container .card--wall .wall__profile-buttons-button--3 {
              background-color: #607D8B; }
      .card-container .card--wall .wall__links {
        flex: 1;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        text-align: center;
        align-items: center; }
        @media (max-width: 700px) {
          .card-container .card--wall .wall__links {
            flex: 2;
            flex-direction: column;
            margin-top: 20px;
            align-items: stretch;
            justify-content: center; } }
        .card-container .card--wall .wall__links-link {
          color: #d3d5db;
          flex: 1;
          border-radius: 3px;
          display: block;
          transition: all 0.3s; }
          .card-container .card--wall .wall__links-link:first-child {
            color: #000;
            font-weight: bold; }
          .card-container .card--wall .wall__links-link:hover {
            background-color: #f4f4f4; }

.wall {
  width: 100%;
  padding: 10px;
  height: 500px; }
  @media (max-width: 700px) {
    .wall {
      padding: 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*(100% - 2 * 6rem)/3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 6rem)/4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (100% - 3 * 6rem)/4 + 2*6rem); }

.root {
  background-color: #f4f4f4; }

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column; }

.header {
  height: 64px; }

.main_container {
  flex: 1;
  display: flex;
  overflow-y: hidden; }
  @media (max-width: 700px) {
    .main_container {
      flex-direction: column;
      align-items: stretch; } }
  .main_container .main {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden; }
  .main_container .nav--left {
    width: 64px;
    height: 100%; }
    @media (max-width: 700px) {
      .main_container .nav--left {
        width: 100%;
        height: 64px; } }
  .main_container .nav--right {
    width: 64px; }
